:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}

p,
h2 {
  margin: 0;
}

a {
  font-weight: 500;
  color: #9f1a8f;
  text-decoration: inherit;
}

a:hover {
  color: #9f1a8f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-weight: 16px;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #9f1a8f;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #9f1a8f;
  }

  button {
    background-color: #f9f9f9;
  }
}

::highlight(paragraph-highlight) {
  background-color: rgba(107, 120, 252, 0.5);
}

.post-container {
  background-color: #1a1a1a;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 1.3rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-container:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.post-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #9f1a8f;
  margin-bottom: 0.5rem;
}

.post-content {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.6;
}

.custom-input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.form {
  margin-bottom: 2rem;
}

.input-block {
  margin-bottom: 1rem;
}

.form-submit {
  padding: "0.5rem 1rem";
  cursor: "pointer";
}
